.calendar-content {
  /* calender-content에서 수정 */
  flex: 2; /* 달력 공간을 더 넓게 설정 */
}

.calendar-content table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.calendar-content td,
.calendar-content th {
  border: 1px solid black;
  height: 50px;
  text-align: center;
}

.calendar-content th {
  background-color: #56c9a3;
  color: rgb(0, 0, 0);
}
