* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div.flex-container > div {
  margin: 10px;
  border-color: #001101;
  border: 1px solid;
  border-radius: 2.5%;
  padding: 15px;
}

.clock-digital {
  font-size: 25px;
  font-weight: bold;
}

.Todo {
  font-size: 25px;
  font-weight: bold;
  box-sizing: border-box;
  margin-top: 15px;
  margin: 10px;
  border-color: #001101;
  border: 1px solid;
  border-radius: 2.5%;
  padding: 20px;
}
.Todo ul {
  margin: 0;
  padding: 0;
}
.Todo ul li {
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  word-break: keep-all;
  background: #898080;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Todo ul li:nth-child(odd) {
  background: #ababab;
}
.Todo ul li:hover {
  background: #d0c4c4;
}
.Todo ul li.checked {
  background: #bdbbbb;
  color: #888888;
  text-decoration: line-through;
}
.Todo ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #968c8c;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: translateY(-50%) rotate(45deg);
  height: 15px;
  width: 7px;
}
.Todo .close {
  padding: 8px 12px;
  font-weight: bold;
}
.Todo .close:hover {
  background-color: #f44336;
  color: rgb(133, 115, 115);
}
.Todo .input-group {
  display: flex;
  margin-bottom: 10px; /* 리스트와의 간격 확보 */
}

.Todo input {
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 0;
  flex: 3; /* 75% 비율을 flex-grow로 대체 */
  padding: 10px;
  font-size: 16px;
}

.Todo .addBtn {
  padding: 10px;
  margin: 0; /* 기존 margin 3px가 정렬을 엇나가지 않게 0으로 초기화 */
  flex: 1; /* 25% 비율 */
  background: #b0b48c;
  color: #555;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.Todo .addBtn:hover {
  background-color: #949494;
}

.other-site {
  margin: 10px;
  border-color: #001101;
  border: 1px solid;
  border-radius: 2.5%;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}
