* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div.flex-container > div {
  margin: 10px;
  border-color: #001101;
  border: 1px solid;
  border-radius: 2.5%;
  padding: 15px;
}

.clock-digital {
  font-size: 25px;
  font-weight: bold;
}

.Todo {
  font-size: 25px;
  font-weight: bold;
  box-sizing: border-box;
  margin-top: 10px;
  margin: 5px;
  border-color: #001101;
  border: 1px solid;
  border-radius: 2.5%;
  padding: 15px;
}
.Todo ul {
  margin: 0;
  padding: 0;
}
.Todo ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #898080;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Todo ul li:nth-child(odd) {
  background: #ababab;
}
.Todo ul li:hover {
  background: #d0c4c4;
}
.Todo ul li.checked {
  background: #bdbbbb;
  color: #888888;
  text-decoration: line-through;
}
.Todo ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #968c8c;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
.Todo .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.Todo .close:hover {
  background-color: #f44336;
  color: rgb(133, 115, 115);
}
.Todo .header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}
.Todo .header:after {
  content: "";
  display: table;
  clear: both;
}
.Todo input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}
.Todo .addBtn {
  padding: 10px;
  margin: 3px;
  width: 25%;
  background: #b0b48c;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
.Todo .addBtn:hover {
  background-color: #949494;
}

.other-site {
  margin: 10px;
  border-color: #001101;
  border: 1px solid;
  border-radius: 2.5%;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}
